@use "sass:math";
@import "./variables";

@mixin centerContainer($justify-content: center, $align-items: center, $direction: row) {
     display: flex;
     justify-content: center;
     align-items: $align-items;
     flex-direction: $direction;
}
@mixin centerItem($top: 50%, $left: 50%, $Ox: -50%, $Oy: -50%, $direction: center) {
     position: absolute;
     @if $direction == top {
          top: $top;
          transform: translateY($Oy);
     } @else if $direction == left {
          left: $left;
          transform: translateX($Ox);
     } @else if $direction == center {
          top: $top;
          left: $left;
          transform: translate($Ox, $Oy);
     }
}
// or https://sass-lang.com/documentation/interpolation/
@mixin text($color: $textColor, $font-size: 1.6rem, $font-weight: 700) {
     color: $color;
     font-size: $font-size;
     font-weight: $font-weight;
}

@mixin editImg($width: 100%, $height: 100%) {
     width: $width;
     height: $height;
     object-fit: cover;
}
