

.login:checked ~ .landing-info .landing-btn-login {
     background-color: $primaryColor;
     color: $textColor;
}
.login:checked ~ .landing-info .landing-btn-register {
     color: $primaryColor;
     cursor: pointer;
}
.register:checked ~ .landing-info .landing-btn-login {
     color: $primaryColor;
     cursor: pointer;
}
.register:checked ~ .landing-info .landing-btn-register {
     background-color: $primaryColor;
     color: $textColor;
}

// .login:checked ~ .landing-form ,
// .register:checked ~ .create-account  {
//      display: block;
// }
// .login:checked ~ .create-account ,
// .register:checked ~ .landing-form  {
//      display: none;
// }
.login:checked ~ .landing-wrapper .login-form {
     opacity: 1;
     visibility: visible;
}
.login:checked ~ .landing-wrapper .create-account {
     opacity: 0;
     visibility: hidden;
     transform: translateX(100%);
}
.register:checked ~ .landing-wrapper .login-form {
     opacity: 0;
     visibility: hidden;
     transform: translateX(100%);
}
.register:checked ~ .landing-wrapper .create-account {
     opacity: 1;
     visibility: visible;
     transform: translateX(-117%);
}
