.landing-form {
     background-color: $primaryColor;
     @include centerContainer($direction: column);
     position: relative;
     transition: .5s ease-in-out;
     &-rocket {
          @include centerItem(0, 0, -50%, -32%);
     }
     &-text {
          margin-top: 40px;
          text-align: center;
          @include text($font-size: 1.4rem);
          margin-bottom: 30px;
     }
     &-socials {
          @include centerContainer;
          gap: 12px;
          .social-link {
               display: inline-block;
               width: 40px;
               height: 40px;
               background-color: var(--clr);
               border-radius: 11px;
               @include centerContainer;
               transition: transform 0.15s linear;
               &:hover {
                    transform: translateY(-4px);
               }
               &-img {
                    @include editImg(40%, 40%);
               }
          }
     }
}
