@media screen and (max-width: 1400px) {
     .landing {
          flex-direction: column;
          padding-bottom: 100px;
          &-wrapper {
               align-items: flex-start;
               margin-top: 80px;
               margin-left: 0;
          }
          &-info {
               margin-top: 80px;
               &-desc {
                    display: none;
               }
               &-pretitle {
                    margin-top: 38px;
               }
               &-title {
                    margin-top: -12px;
               }
          }
          &-form {
               margin: 0 auto;
          }
          &-form-rocket {
               display: none;
          }
          &::before {
               display: none;
          }
          &-btn {
               margin-top: 50px;
          }
     }
     .login:checked ~ .landing-wrapper .login-form {
          display: block;
     }
     .login:checked ~ .landing-wrapper .create-account {
          display: none;
     }
     .register:checked ~ .landing-wrapper .login-form {
          display: none;
     }
     .register:checked ~ .landing-wrapper .create-account {
          display: block;
          transform: translateX(0);
     }
}
